<%provide(:title, 'Contact')%>

<h1>Contact Us</h1>
<p>Find me in app/views/static_pages/contact.html.erb</p>
<div class="row">
	
	<div class="col-xs-5 col-sm-4">
		<%=image_tag('email_icon.png', class:"img-responsive contact-icons")%>
	</div>	
	<div class="col-xs-7 visible-xs-block">
		<p>ewlkjwlkfrekwljlkejflk;ejflkejkopj werjwer  ewrjweoj reo ewo rjewojrxA EIREW ERW IJEWREW EWIREWJR EEW IKEHW  ewo</p>
	</div>
	<div class="col-xs-5 col-sm-4">
		<%=image_tag('home_icon.png', class:"img-responsive contact-icons")%>
	</div>	
	<div class="col-xs-7 visible-xs-block">
		<p>ewlkjwlkfrekwljlkejflk;ejflkejkopj werjwer  ewrjweoj reo ewo rjewojrxA EIREW ERW IJEWREW EWIREWJR EEW IKEHW  ewo</p>		
	</div>
	<div class="col-xs-5 col-sm-4">
		<%=image_tag('phone.png', class:"img-responsive contact-icons")%>
	</div>	
	<div class="col-xs-7 visible-xs-block">
		<p>ewlkjwlkfrekwljlkejflk;ejflkejkopj werjwer  ewrjweoj reo ewo rjewojrxA EIREW ERW IJEWREW EWIREWJR EEW IKEHW  ewo</p>		
	</div>
	
	
</div>