<%provide(:title, 'Contact')%>
<div class='row'>
	<div class="col-xs-12 contact-heading">
		<h1>Contact Us Today!</h1>
		<p class="lead">We would love to hear from you.  Choose from any of the three ways below to get in touch. </p>
	</div>
</div>

<div class="row">

		<div class="col-xs-5 col-sm-4 center">
			<a href="mailto:me@anydomainname.com"><%=image_tag('email_icon.png', class:"img-responsive center-block contact-icons")%></a>
			
			<h3 class="hidden-xs">Email</h3>
			<p class="hidden-xs"><a href="mailto:me@anydomainname.com">me@anydomainname.com</a></p>
		</div>	
		<div class="col-xs-7 mobile-contact visible-xs-block">
		<h3 style=""> Email</h3>		
		<p> <a href="mailto:me@anydomainname.com">me@anydomainname.com</a></p>	
	</div>


	<div class="col-xs-5 col-sm-4 center">
		<a href="tel:+15555551212"><%=image_tag('phone.png', class:"img-responsive center-block contact-icons")%></a>
		<h3 class="hidden-xs">Phone</h3>
		<p class="hidden-xs"><a href="tel:+15555551212">555-555-1212</a></p>
	</div>	
	<div class="col-xs-7 mobile-contact visible-xs-block">
		<h3 style=""> Phone</h3>		
		<p><a href="tel:+15555551212">555-555-1212</a></p>	
	
	</div>

	<div class="col-xs-5 col-sm-4 center">
		<%=image_tag('home_icon.png', class:"img-responsive center-block contact-icons")%>
		<h3 class="hidden-xs"> Mailing Address</h3>
		<p class="hidden-xs">S&J Risk Management<br>15 Bittersweet Lane<br> Albany NY 12208</p>
	</div>	
	<div class="col-xs-7 mobile-contact visible-xs-block">
		
		<h3 style=""> Mailing Address</h3>		
		<address>
			S&J Risk Management<br>
			15 Bittersweet Lane<br>
			Albany NY 12208
		</address>	
	</div>
	
	
</div>