<%provide(:title, 'Services')%>
<div class="row">
<div class="col-xs-12 col-md-8 col-md-offset-2 center about">
<h1>Welcome to S & J Risk Management.</h1>
<p class="lead">
In order to successfully compete in the market place , it is critical for your business to plan and integrate loss prevention and control into your work and field operations.
 Here at S&J we have over 36 years of safety and risk management experience with proven results. Whether your needs require on-site safety expertise, training or a comprehensive risk management program, we are here to serve you.
</p>
</div>
</div>

  <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-xs-12 col-sm-7">
      		<h1 class="center">Services Provided</h1>
        </div>
        <div class="col-xs-12 col-sm-7">
          <h2 class="featurette-heading">Construction Work Zone <span class="text-muted">Planning Evaluations</span></h2>

          
					<ul class="featurette-list">
        		<li class="lead">OSHA Compliance Audits</li>
        		<li class="lead">Model Safety Programs</li>
        		<li class="lead">Authorized NYS Code Rule 59 Workplace Safety Consultations</li>
						<li class="lead">Ergonomic Workplace Evaluations</li>        	
         		<li class="lead">Client Safety Program review and assessment</li>  
         	</ul>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">
          <%=image_tag('jeffnme.jpg', class:"featurette-image img-responsive img-circle") %>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">
          <%=image_tag('orange_cone.jpg', class:"featurette-image img-responsive img-circle") %>
        </div>
        <div class="col-sm-7">
          <h2 class="featurette-heading">Industry Specific Risk Assessments <span class="text-muted">such as...</span></h2>
          <ul class="featurette-list">
        		<li class="lead">Construction, Mining and Manufacturing Worker Hazard Assessments</li>
        		<li class="lead">Special Events – (Golf, Stadium, Concert and Sporting)</li>
        		<li class="lead">Accident Investigations and Root Cause Analysis</li>
        		<li class="lead">Traffic Studies and Evaluations</li>
        	</ul>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-xs-12 col-sm-7"">
          <h2 class="featurette-heading">Safety Training<span class="text-muted"> with...</span></h2>
            <ul class="featurette-list">
        		<li class="lead">In-house OSHA Construction Industry 10/30 Hour Authorized Trainers</li>
		        </ul>
        		<p class="center"><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-0">
          <%=image_tag('meven.jpg', class:"featurette-image img-responsive img-circle") %>
        </div>
      </div>

      <hr class="featurette-divider">
</div>
      <!-- /END THE FEATURETTES -->