<!DOCTYPE html>
	<html>
		<head>
			<meta content='text/html; charset=UTF-8'
			http-equiv='Content-Type' />
		</head>
		<body>
			<h1>HEY THERE YOU FUCKING NIGGER.....</h1>
			<p>THIS IS A TEST <%=@name%> </p>
		</body>
	</html>