<%provide(:title, 'Training')%>



<!--Start of the Document-->

<div class="row">
	<div class="col-xs-12 center">
		  
		
		<h2 class="training-heading"">Programs Offered</h2>
	</div>
</div>

<hr class="featurette-divider"></hr>

<div class='row' style="">	
	
	<div class="col-xs-12 col-md-6 ">
	
		
		
		
		<h3>OSHA 30 Hour for the Construction Industry</h3>
			<p class="front-font training-description">
				 This <b style="color:orange">4 Day</b> program is a comprehensive examination of the CFR 1926 Construction Industry standards.
				 Participants will learn how OSHA Compliance Officers enforce these construction industry standards 
				 and methods used by employers to demonstrate compliance on their projects. The program is taught by 
				 an Authorized OSHA 1926 Outreach Trainer and incorporates DVD presentations, interactive workshops 
				 and new updates to industry standards into the lesson plan.
				 <a href="#" data-toggle="modal" data-target="#signup-modal">Sign Up... </a>
			</p>
		
		
		<hr class="featurette-divider"></hr>
		
		<h3>Work zone Safety Program</h3>
		
			<p class="front-font training-description">
				This <b style="color:orange">1 & 1/2 Day</b> program introduces students to the CFR 1926 Construction Industry standards.
	 			Participants will learn how OSHA protects workers on construction sites in the United States.  
	 			OSHA 10-Hour Training is required for all workers working on construction sites in the State of New York.
 				The program provides an overview of the construction industry standards and methods used by employers to demonstrate 
 				compliance on their projects. The program is taught by an Authorized OSHA 1926 Outreach Trainer and incorporates 
				DVD presentations, interactive workshops and new updates to industry standards into the lesson plan.
				<a href="#" data-toggle="modal" data-target="#signup-modal">Sign Up... </a>
			</p>		
		
		<hr class="featurette-divider"></hr>
		
		<h3>Fall Protection Awareness Program</h3>
		
			<p class="front-font training-description">
				This 1 Day program educates participants on the fall protection requirements in the construction industry. 
				The lesson plan incorporates the definitions of fall prevention versus fall protection and methods used by
				employers to comply with OSHA1926 – Subpart M.
				<a href="#" data-toggle="modal" data-target="#signup-modal">Sign Up... </a>
			</p>		
	
	
		
	</div>
	
	<div class="col-xs-12 col-md-6">
		<%=image_tag('training_circle.jpg', class:"img-circle img-center img-responsive training-circle")%>
		
		<hr class="featurette-divider"></hr>	
		
		<h3 style="padding-top:28px;">Work zone Safety Program</h3>
		
			<p class="front-font training-description">
				This 1 1/2 Day program introduces students to the CFR 1926 Construction Industry standards.
	 			Participants will learn how OSHA protects workers on construction sites in the United States.  
	 			OSHA 10-Hour Training is required for all workers working on construction sites in the State of New York.
 				The program provides an overview of the construction industry standards and methods used by employers to demonstrate 
 				compliance on their projects. The program is taught by an Authorized OSHA 1926 Outreach Trainer and incorporates 
				DVD presentations, interactive workshops and new updates to industry standards into the lesson plan.
				<a href="#" data-toggle="modal" data-target="#signup-modal">Sign Up... </a>		
			</p>		
	
	</div>
		

	
	
	<div class="col-xs-12 center">
		<button class="btn btn-success btn-lg" data-toggle="modal" data-target="#signup-modal">Sign Up Today!</button>
	</div>
	

</div>





