@import "bootstrap";


.center {
	text-align: center;
	 
}

.vcenter {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    float: none;
}

/*USE BELOW TO CENTER IMAGES MY DUDE*/

.img-center {
	margin: 0 auto;
	display: block;
}


/*----this is for getting rid of the OUTLINE when click IMG's*/

a {
	outline: 0;
}

:focus {
  outline: none !important;
}

::-moz-focus-inner {
  border: 0 !important;
}
/*-------------------------------*/




/*Typography*/
.landing-type {
	h1 {
	font-size: 1.8em;
	color: 	white;
	padding-top: 40px; /*--CHANGE HEIGHT FOR MOBILE--WAIT HOLY SHIT THIS IS AWESOME*/
	text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
	}
}

.front {
 font-size:	3.8em;
}


/* navbar*/
.navbar {
	margin-bottom: 0px;
}

.navbar-brand {
	
    float: left;
    padding: 5px;
    font-size: 18px;

    height: 71px; /*this is when having a padding of 5 px*/
	p {
		padding-top: 19px;
		font-size: 1.4em;
	}

}





/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/*----HOME PAGE----*/

.home-jumbo {
	background: image-url("background_2.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}



.jumbo-height {
	height: 200px;
}

.logo-div {
  	width:150px;
		padding-top: 25px;
	  display: inline-block;
    
    vertical-align: middle;
}

.front-logo{

}

.no-pad {

}




/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.market-column { 
 margin-top: 50px;
}



/* SERVICES/ Featurettes
------------------------- */

.featurette-divider {
  margin: 30px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-list {
	padding-top: 20px;
}

.featurette-image {
	padding-bottom: 20px;
}

.about {
	padding-top: 30px;
}

.service-button-row {
	padding-top:15px;
}

.service-button {
	padding-top: 10px;
}


/*---TRAINING PAGE----*/

.training-jumbo {
	min-height: 500px;
	background: image-url("icanfeelit.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}	

.background {
    background: image-url('way_big.jpg') no-repeat center center;
    top: 0px;
  
    background: none no-repeat scroll 50% 50% / cover transparent;
    opacity: 0.2;
    /* z-index: 1; */
    bottom: 0px;
    right: 0px;
    left: 0px;
    position: absolute;
		min-height: 0px;
}



/*---CONTACT PAGE----*/

.contact-icons {
	padding-bottom: 0px;	
}

.mobile-contact {
	height: 100px;
	margin-bottom: 30px;
}
.contact-link {
	font-size: 30px;
}

/*-----RESPONSIVE MEDIA QUERIES....WOO HOO-----*/

@media(max-width: 500px) {

.no-pad {
	padding-left: 3px;
}

.contact-icons {
	max-width:100%;
}




}


	


@media (min-width: 500px) {
	.jumbo-height {
		height: 350px;
	}
	
	.logo-div {
		width:250px;
		padding-top:40px;
	}

.landing-type {
	width: 200px;
	padding-top:50px;
	h1 {
	font-size: 3em;
	}
}	

}



.featurette-image {
	width: 320px;
	
}




.contact-icons {
	max-width:100px;
}

@media (min-width: 768px) {
	
	/*--navbar---*/
	.nav > li > a {
	line-height: 40px;
}
	
	
	.jumbo-height {
		height: 400px;
	}
	
	.logo-div {
		width:350px;
		padding-top:25px;
	}

	.landing-type {
	padding-top: 80px;
	h1 {
	font-size: 4.2em;
	}
}	

/*--SERVICES featurette --*/
.featurette-image {
	width: 100%;
	padding: 0px;
}

.featurette-divider {
  margin: 50px 0; /* Space out the Bootstrap <hr> more */
}

/*--CONTACT PAGE---*/
.contact-icons {
	max-width:100%;
}

.contact-heading {
	text-align: center;	
	margin-top:30px;
	padding-bottom: 30px;
}

	.contact-icons {
	max-width:70%;
	}

}




@media (min-width: 970px) {
	.jumbo-height {
		height: 500px;
	}
	
	.logo-div {
		width:450px;
		padding-top:25px;
	}

	.landing-type {
	padding-top: 120px;
	h1 {
	font-size: 5.6em;
	}
	
	.contact-icons {
	max-width:70%;
	}

}

@media (min-width: 1200px) {
	
	.landing-type {
	padding-top: 120px;
	h1 {
	font-size: 6em;
	}
	}

		.contact-icons {
	max-width:70%;
	}
	
}

	
}