@import "bootstrap";


/*Typography*/
.landing-type {
	h1 {
	font-size: 1.8em;
	color: 	white;
	padding-top: 40px; /*--CHANGE HEIGHT FOR MOBILE--WAIT HOLY SHIT THIS IS AWESOME*/
	text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
	}
}

.front {
 font-size:	3.8em;
}


/* navbar*/
.navbar {
	margin-bottom: 0px;
}



/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/*----HOME PAGE----*/

.home-jumbo {
	background: image-url("background_1.jpg") no-repeat center center; 
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.jumbo-height {
	height: 200px;
}

.logo-div {
  	width:150px;
		padding-top: 25px;
	  display: inline-block;
    
    vertical-align: middle;
}

.front-logo{

}

.no-pad {

}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.market-row {		
	margin-top: 30px;
}

/*-----RESPONSIVE MEDIA QUERIES....WOO HOO-----*/

@media(max-width: 500px) {

.no-pad {
	padding-left: 3px;
}


}
	


@media (min-width: 500px) {
	.jumbo-height {
		height: 350px;
	}
	
	.logo-div {
		width:250px;
		padding-top:40px;
	}

.landing-type {
	width: 200px;
	padding-top:50px;
	h1 {
	font-size: 3em;
	}
}	

}


@media (min-width: 768px) {
	
	.jumbo-height {
		height: 400px;
	}
	
	.logo-div {
		width:350px;
		padding-top:25px;
	}

	.landing-type {
	padding-top: 80px;
	h1 {
	font-size: 4.2em;
	}
}	



}


@media (min-width: 996px) {
	.jumbo-height {
		height: 500px;
	}
	
	.logo-div {
		width:450px;
		padding-top:25px;
	}

	.landing-type {
	padding-top: 120px;
	h1 {
	font-size: 5.6em;
	}
	}

@media (min-width: 1200px) {
	
	.landing-type {
	padding-top: 120px;
	h1 {
	font-size: 6em;
	}
	}


	
}

	
}