@import "bootstrap";


.center {
	text-align: center;
	 
}

.vcenter {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    float: none;
}

/*USE BELOW TO CENTER IMAGES MY DUDE*/

.img-center {
	margin: 0 auto;
	display: block;
}


/*----this is for getting rid of the OUTLINE when click IMG's*/

a {
	outline: 0;
}

:focus {
  outline: none !important;
}

::-moz-focus-inner {
  border: 0 !important;
}
/*-------------------------------*/








/*Typography*/
.landing-type {
	h1 {
	font-size: 1.8em;
	color: 	white;
	padding-top: 40px; /*--CHANGE HEIGHT FOR MOBILE--WAIT HOLY SHIT THIS IS AWESOME*/
	text-shadow: 0 5px 5px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
	}
}

.front {
 font-size:	3.8em;
}


/*COLOR SCHEMES*/
 $orange: #ffa900;

/* navbar*/
.navbar {
	margin-bottom: 0px;
}

.navbar-brand {
		margin-top: 1px;
    float: left;
    padding: 5px;
    font-size: 1.3em;

    height: 71px; /*this is when having a padding of 5 px*/
	p {
		padding-top: 16px;
		font-size: 1.3em;
	}

}

.navbar-toggle {
	margin-top: 18px;
}



/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/*----HOME PAGE----*/

.home-jumbo {
	background: image-url("sky_small.jpg") no-repeat center center; 
  -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}



.jumbo-height {
	height: 200px;
}

.logo-div {
  	width:150px;
		padding-top: 25px;
	  display: inline-block;
    
    vertical-align: middle;
}

.front-font {
	font-size: 1.1em;
	font-weight: 400;
}

.devices {
	padding-top: 15px
}

.device-font {
font-size: 2.3em;
font-weight: 300;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-md-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.market-column { 
 margin-top: 50px;
}




/* SERVICES/ Featurettes
------------------------- */

.featurette-divider {
  margin: 30px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-list {
	padding-top: 20px;
}

.featurette-image {
	max-width: 80%;
	margin-bottom: 20px;
}

.about {
	padding-top: 30px;
}

.service-button-row {
	padding-top:10px;
}

.service-button {
	padding-top: 10px;
}

.services-heading {
	padding-bottom:20px;
	font-size: 2.5em;
	font-weight: 400;
}

.or {
	padding-top: 15px;
	padding-bottom:15px;
}




/*---TRAINING PAGE----*/

.training-jumbo {
	min-height: 200px;
	background: image-url("training_small.jpg") no-repeat center center; 
   
}	



.train-type {
	margin-left: -13px;
	padding-top: 70%;
	font-size: 2.5em;
	color: white;
	text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
}

.training-circle {
	margin-top: 40px;

}

.training-heading {
	padding-top:30px;
		font-size: 2.2em;
	font-weight: 500;
}

.training-title {
	font-size:1.7em;
	font-weight: 500;
}

.training-description {
	padding-left:15px;	
}

.email-success {
	border-color: $orange;
	border-style: solid;
	border-width: 10px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-khtml-border-radius: 30px;
	
	background-color:rgba(255, 255, 255, 0.7);
	width: 100%;
	height: 250px;	
	
	
	b {

		font-size:1.2em;
	}
}

 .success-row {
 	margin-top: 10px;
 }




   /*MODAL FOR TRAINING SIGN-UP*/
.modal-header {
	background: rgb(178,178,178); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(178,178,178,1) 0%, rgba(149,149,149,1) 40%, rgba(106,106,106,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(178,178,178,1)), color-stop(40%,rgba(149,149,149,1)), color-stop(100%,rgba(106,106,106,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(178,178,178,1) 0%,rgba(149,149,149,1) 40%,rgba(106,106,106,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(178,178,178,1) 0%,rgba(149,149,149,1) 40%,rgba(106,106,106,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(178,178,178,1) 0%,rgba(149,149,149,1) 40%,rgba(106,106,106,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(178,178,178,1) 0%,rgba(149,149,149,1) 40%,rgba(106,106,106,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2b2b2', endColorstr='#6a6a6a',GradientType=0 ); /* IE6-9 */
}

.modal-title {
	padding-top:15px;
	font-size:1.8em;
	line-height: 32px;
	color: white; 
	text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0px 0px 30px rgba(0, 0, 0, 0.075);
}


.modal-footer {
	
}
		
		
/*---CONTACT PAGE----*/

.contact-icons {
	padding-bottom: 0px;	
	max-width: 90px
}

.mobile-contact {
	height: 100px;
	margin-left: -20px;
	margin-bottom: 30px;
}
.contact-link {
	font-size: 30px;
}

.contact-heading {
	padding-bottom:0px;
}

.mirror {
	height:250px;
	background: image-url("mirror_tiny.png") no-repeat center center; 
	
}

.small {
	font-size:1em;
}

.arrow { /* I can get rid of this if i use the hidden bootstrap feature for extra small*/
max-width: 0px;
		
}

/*-----RESPONSIVE MEDIA QUERIES....WOO HOO-----*/

@media(max-width: 500px) {

.no-pad {
	padding-left: 3px;
}

.contact-mobile {
	margin-left:-15px;
}

.modal-title {
	padding-left:15px;
}



}






@media (min-width: 500px) {
	
	
.small {
	font-size:1.2em;
}
	
	.jumbo-height {
		height: 290px;
	}
	
	.training-jumbo {
	min-height: 290	px;
	}
	
	.logo-div {
		width:250px;
		padding-top:20px;
	}

.landing-type {
	width: 200px;
	padding-top:50px;
	h1 {
	font-size: 3em;
	}
}	

.train-type {
	
	font-size: 3.8em;
}

.contact-icons {
	max-width: 120px;
}

.featurette-image {
	width: 368px;
	
}

		/*this is to make the alert vertically centered*/
.email-success{
	margin-top:10%;
}


.checkmark {
	max-width:100px;
}

}






@media (max-width: 767px) {
	 
	 .mirror{
	 -webkit-background-size: 225px225px;
    -moz-background-size: 225px225px;
    -o-background-size: 225px225px;
    background-size: 225px 225px;
	}
}



@media (min-width: 768px) {
	
	.front-font{
		font-size: 1.2em;
	}
	
	/*--navbar---*/
	.nav > li > a {
	line-height: 40px;
}
	.nav-pad{
		padding-left:125px;
	}
	
	.jumbo-height {
		height: 400px;
	}
	
	.training-jumbo {
	max-height: 400px;
	}
	
	
	.logo-div {
		width:350px;
		padding-top:25px;
	}

	.landing-type {
	padding-top: 80px;
		h1 {
			font-size: 4em;
		}
	}

/*--Home Page--*/

.home-jumbo {
	background: image-url("sky_med.jpg") no-repeat center center; 
	-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

/*--SERVICES featurette --*/
.featurette-image {
	width: 100%;
	padding: 0px;
}

.featurette-divider {
  margin: 50px 0; /* Space out the Bootstrap <hr> more */
}

.or {
	padding-top: 65px;
}


/*--TRAINING PAGE--*/
.training-jumbo {
	background: image-url("training_medium.jpg") no-repeat center center; 
}

.training-heading {
	font-size: 2.5em;
}

	
.modal-title {
	font-size:2.2em;
}	
	
		/*this is to make the alert vertically centered*/
.email-success{
	margin-top:20%;
}

.email-success-text {
	padding-top:10px;	
		
	b {
				font-size:2em;
	}
}

.success-row {
	margin-top:40px
}

.checkmark {
	max-width:140px;
}




/*--CONTACT PAGE---*/
.contact-icons {
	max-width:100%;
}

.contact-heading {
	text-align: center;	
	margin-top:70px;
	
}

	.contact-icons {
	max-width:70%;
	}

.train-type {
	padding-top:70%;
	font-size: 4.5em;
}

.mirror {
  height:300px;
	margin-top:50px;
	background: image-url("mirror_big.png") no-repeat center center; 
	background-size: 100%;	
}	

.arrow {
	max-width: 60px;
}

}




@media (min-width: 992px) {
	
	.jumbo-height {
		height: 500px;
	}
	
	.train-type {
	padding-top:55%;
	font-size: 6em;
}
	
	.training-jumbo {
	min-height: 480px;
	}
	
	.logo-div {
		width:450px;
		padding-top:25px;
	}

	.landing-type {
	padding-top: 120px;
	h1 {
	font-size: 5.6em;
	}
	}
	
	.contact-icons {
	max-width:70%;
	}
	
	.market-column {
		margin-top: 70px;
	}	
	
	.mirror {
		width:300px;
	
	}
	.arrow {
		max-width:80px;
	}

}

@media (min-width: 1200px) {
	
	
	.home-jumbo {
	background: image-url("sky_large.jpg") no-repeat center center; 
		-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
	}
	.training-jumbo {
		background: image-url("training_big.jpg") no-repeat center center; 
	}
	
	.landing-type {
		padding-top: 100px;
		h1 {
			font-size: 7em;
		}
	}

	.contact-icons {
	max-width:70%;
	}
	
	.contact-heading {
	
	margin-top:110px;
	
}
	
	
	.arrow {
		max-width:100%;
	}
	
	.train-type {
		padding-top:35%;
		font-size: 7em;
	}
	
	.mirror {
	width: 420px;
	height: 400px;
	background: image-url("mirror_big.png") no-repeat center center; 
	background-size: 90%;	
}	

}

@media(max-width: 1700px) {


 
 
 .training-jumbo {
  
 	  -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
 }


}

@media(min-width: 1930px) {
	.training-jumbo {
   -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
 	 
 }
	
}

	
