<footer class="footer">
	<small>
	<p class=lead>	<%=link_to('S&J Management', root_path)%></p>
	</small>
	<nav>
		<ul>
			<li class="lead"><%=link_to('Contact S&J', contact_path) %></li>
			
		</ul>
	</nav>
</footer>