<footer class="footer">
	<small>
		<%=link_to('S&J Management', '#')%>
	</small>
	<nav>
		<ul>
			<li><%=link_to('Contact','#') %></li>
			<li><%=link_to('Web Developer', '#') %></li>
		</ul>
	</nav>
</footer>