<div class="home-jumbo ">
      
  
      <div class="container jumbo-height">
        <div class='row'>
      	  <div class= "col-xs-6 col-lg-5  no-pad ">
       			<div class="logo-div">
       			 <%=image_tag('big_logo.png', class:"front-logo", width:"100%")%>
      			</div>
      		</div>
      		<div class= "col-xs-4 col-sm-5 landing-type no-pad">
       		 <h1 class="front">Risk Management</h1>
        	 <p></p>
        	 <p><a class="btn btn-success btn-lg" role="button">Learn more </a></p>
      		</div>	
      	</div>
		 </div>
</div>