
<div class="training-jumbo ">
      
  
			<div class="container">
        <div class='row'>
      	
      		<div class="col-xs-4 col-xs-offset-7 col-sm-offset-8">
       		 <h1 class="train-type">S&J Safety Training</h1>
        	 
        	 
      	
      		</div>
		 
		 		</div>
		 </div>
</div>